html,body{height:100%;margin:0px;padding: 0px; font-size: 12px;font-family: 'Roboto', sans-serif; text-rendering: geometricPrecision;}
body {color: #333; min-width:1164px; background: #ebebeb;}

img {border:0;}

a { text-decoration:none; font-weight:bold; color:#6facdb;}
a:hover {text-decoration:underline;}
a.no-active {color:#ccc;text-decoration:none;}


.content {text-align: center; width:1100px; margin:0 auto; overflow:hidden;}
.cell {display:table-cell;}
.right {text-align:right;}
.header {padding-top:30px;}

.line {width:1140px; margin:0 auto; height:1px; background: #d9d9d9; border-bottom:1px solid #fff; margin-top:40px;}


.bigtext {text-align:center;margin-top:30px; font-size: 30px; font-weight: 600; letter-spacing:-1px; line-height:1.1;}
.midtext { font-size:20px; text-align:center; margin-top:20px;}
.smalltext { font-size:12px; text-align:center; margin-top:20px;margin-bottom:20px;}

.portfolio {width:1100px; margin: 0 auto; padding-top:30px; overflow:hidden; padding-bottom:15px;}
.portfolio-item{width:140px;background-color:#FFFFFF;position:absolute;box-shadow: 0 2px 2px rgba(0,0,0,0.29);border-radius: 2px;overflow:hidden;}
.portfolio-item.year{height:140px;text-align:center;line-height:140px;color:#ffc000;font-size: 21pt;cursor:pointer;}
.portfolio-img {height:140px;text-align:center;position:relative;overflow:hidden;border-radius:2px 2px 0 0;  cursor:pointer; background-size: 140px 140px;}
.portfolio-item .hover {position:absolute;margin-top:140px; pointer-events:none;}
.hover-main {width:140px; height:140px; margin-top: 140px;}

.portfolio-item .text {padding:12px 20px 20px 20px; font-size: 10px;}
.portfolio-item .name {font-size: 16px;font-weight: bold;margin:0;}
.portfolio-item .branch {font-size: 11px; font-weight: bold;margin:5px 0px 0px 0px;}
.portfolio-item .work {font-size: 10px;margin:8px 0px 0px 0px;color: #666666;letter-spacing: normal;}
.portfolio-item a {display:block; margin:10px 0px 0px 0px; color:#6facdb; font-weight: bold;font-size: 11px;}
.loader {margin-top:120px; display:none; position:absolute; left:0;}

.404 {text-align: center;}

.about {width:830px;overflow:hidden;margin:0 auto; margin-top:40px;}
.about-item{width:180px; margin-right:140px; float:left; text-align:center;}
.about-item .title {font-size:14px; font-weight:bold; width:148px; height:148px; line-height:148px; margin:0 auto;}
.about-item .title.blue {background: url(../img/blue.png); color:#fff;}
.about-item .title.white {background: url(../img/white.png);}
.about-text {margin:10px 0px 0px 0px; color:#333333;}
.about-text.first {margin-top:30px;}

.hello {width:830px;overflow:hidden;margin:0 auto; margin-top:40px;}
.hello-form {width:300px; margin:0 auto;}
.hello-form .text {text-align:center; font-size:14px; line-height:20px;}
.hello-form .submit {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  color: #fff;
  font-size: 14px;
  background: #6facdb;
  width:147px; height:39px; line-height:35px; text-align:center; margin:0 auto;
  text-decoration: none;
}

.hello-form .submit:hover {
  background: #66a5d1;
  text-decoration: none;
  cursor: pointer;
}


.form {width:300px; margin-top:30px;}
.form .form-field{width:295px;height:27px; margin-bottom:8px; color:#333;padding-left:5px;border: 1px solid rgb(207, 206, 206);border-radius: 4px;box-shadow: inset 0px 2px 4px rgba(0,0,0,0.15); line-height:30px; font-size:14px; padding-top:3px;}
.form .form-msg{width:295px;height:130px; margin-bottom:8px; color:#333;padding-left:5px;border: 1px solid rgb(207, 206, 206);border-radius: 4px;box-shadow: inset 0px 2px 4px rgba(0,0,0,0.15); line-height:30px; font-size:14px; padding-top:3px;}

.footer {margin-top:20px; display:table; width:100%; padding-bottom:30px;}
.footer .item {width:400px; vertical-align:top;}
.footer .phone {float:left;}
.footer .email{float: right;}
.footer .copy{text-align: center;}




